.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #B20000;
}

.div-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 25% ;
    height: 50%;


    background-color: #fff;

    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);

}
.div-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.div-form h1{
    font-size: 3vw;
    color: #B20000;
}

.input-login{
    
    width: 90%;
    font-size: 1.7vw;
    border: 1px solid #B20000;
    color: #B20000;
    padding: 5px;
    outline:none;
  
}

.input-login::placeholder{
    color: #B20000;
}

.button-login {
 
    background-color: #B20000;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.button-login:hover{
    background-color: #7e0000;

}