
.inputTextChamado,
.selectChamado {
  border: 1px solid #b20000;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #900000;
}

.inputTextChamado:focus,
.selectChamado:focus {
  outline: none;
  border-color: #900000;
  /* cor mais escura ao focar */
}
.containerInputAdd {
    display: flex;
    align-items: center;
  }
  
  .containerIconPlus {
    display: flex;
    justify-content: center;
  
    position: relative;
    top: 0;
    right: 35px;
    padding: 5px;
    cursor: pointer;
  }
  
  .positionIconPlus {
    font-size: 17px;
    color: #b20000;
  
  }

  .paragrafoGlobal{
    font-size: 16px;
    color: #900000;
    padding: 5px;
  }

  .table{
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
  
}
.table thead {
    height: 30px;
    background-color: #b20000;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .1px;
    color: #fff;
   
}
.tbody {
   
    background-color: #b65151;
    color: #fff;
    text-align: center;
    overflow-y: scroll;
}

.tbody tr{
    height: 30px;
    cursor: pointer;
    
}

.tbody tr:hover{
    background-color: #7E0000;
    
}

.buttonPadrao {
  margin-left: 35px;
  background-color: #B20000;
  min-width: 150px;
  width: auto;
  min-height: 35px;
  font-size: 15px;
  
  text-align: center;
  color: #ffff;
  border-style: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.buttonPadrao:hover{
  background-color: #7E0000;
}


.errorInput {
  border: 2px solid red;
}

.line {
  width: 80%;
  
  border-top: 1px solid #7E0000;
}

.itemLista {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar para a próxima linha se necessário */
  gap: 10px;
  margin-top: 10px;
}

.itemListaItem {
  display: inline-flex; /* Para largura dinâmica */
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 80px; /* Largura mínima reduzida */
  width: auto; /* Permite que o tamanho do item seja dinâmico */
  max-width: calc(100% - 20px); /* Impede que ultrapasse o container */
  word-wrap: break-word; /* Quebra palavras longas */
}

.itemListaItem span {
  flex-grow: 1; /* Permite que o texto ocupe o espaço necessário */
}

.removeIcon {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}


.divPopup{
  display: flex;
  flex-direction: column;
}
.divPopup span {
  font-size: 25px;
  color: #B20000;
}

.errorInput {
  border: 2px solid red;
}

.errorMessage {
  margin-left: 10px;
  color: red;
  font-size: 0.7rem;
  
}

.containerMessageInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

.anexosContainer {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.anexosContainer h3 {
  font-size: 1.5rem;
  color: #7E0000;
  margin-bottom: 15px;
}

.anexosContainer ul {
  list-style-type: none;
  padding: 0;
}

.anexosContainer li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.anexosContainer li:hover {
  background-color: #f1f1f1;
}

.anexosContainer li span {
  font-size: 1rem;
  color: #333;
}

.anexosContainer li button {
  background-color: #b20000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.anexosContainer li button:hover {
  background-color: #7E0000;
}

.anexosContainer p {
  color: #888;
  font-size: 1rem;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}