.containerInputAdd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    padding: 15px;
   color: #900000;

}

.inputConfig {

    min-width: 20%;
    border: 1px solid #b20000;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #b20000;
}

.inputConfig:focus {
    outline: none;
    border-color: #900000;
    /* cor mais escura ao focar */
}

.tdIcones{
   
    
    width: 100px;
    

    

}

.icon{
    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.icon:hover{
    font-size: 22px;
}



.positionCard {
    display: flex;
    flex-direction: column;
  
    width: 82vw;
    position: fixed;
    background-color: #ffff;


    }

.containerSepara{
    margin-top: 140px;
}

.titleFormCatgory{
   
    text-align: center;
    color: #900000;
    margin-top: 22px;
}