.containerInputAdd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
    margin-left: 20px;
    padding: 15px;
    color: #900000;

}
.containerInputAdd h3 {
    font-size: 1.3rem;
    /* Aumento do tamanho da fonte */
    font-weight: bold;
    color: #7E0000;
    text-align: center;
    text-transform: uppercase;
    /* Deixa o título mais impactante */
}

.containerInputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.containerMessageInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.inputConfig {

    min-width: 20%;
    border: 1px solid #b20000;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #b20000;
}

.inputConfig:focus {
    outline: none;
    border-color: #900000;
    /* cor mais escura ao focar */
}




.errorInput {
    border: 2px solid red;
}

.errorMessage {
    position: absolute;
    top: 28%;
    margin-right: 10px;
    color: red;
    font-size: 0.7rem;
    display: block;
}

