
.nav{
    width: 18vw;
    height: 100vh;
    
    background-color: #B20000;
}

.container-nav-title h1{
    font-size: 22px;
    padding: 10px;
    color: #fff;
}

.container-nav-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    border-bottom: 1px solid #fff;
}


.container-nav-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.container-nav-options .link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;    
    text-decoration: none;

    font-size: 15px;
    color: #fff;
}

.container-nav-options .link:hover{
    background-color: #7E0000;
}


.sair{
   
    position: absolute;
    bottom: 5px;
    
    width:18vw ;


    
}