.headerTitle h1{
    font-size: 32px;
    text-align: center;
    color: #B20000;
}


.container-painel{
    display: flex;
    flex-direction: column;
}


.container-painel header button {
    margin-left: 35px;
    background-color: #B20000;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: #ffff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.container-painel section{
    display: flex;
   flex-direction: column;
    width: 80vw;
    height: 85vh;
    
}

.container-tarefa{
    margin: 30px 30px;
    width: 80%;
    height: auto;
    padding: 20px;
    border: 1px solid #B20000;
}



.containerDatas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.containerDatas div strong, span {
    font-size: 15px;
}
.container-date{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    margin-top: 20px;
}

.container-date strong{
    margin-left: 15px;
    font-size: 17px;
    color: #B20000;
}

.datePickerInput {

    font-size: 16px;
    border: 2px solid #B20000;
    border-radius: 5px;
    cursor: pointer;
    color: #B20000;
    padding: 5px;

}

.datePickerInput{
    outline: none;
}

.datePickerInput::placeholder{
    color: #B20000;
}