.containerTitleExpand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;    
 
    cursor: pointer;
}

.containerTitleExpand span{
    font-size: 22px;
}