

.table{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    
    padding: 10px;
  
}
.table thead {
    height: 48px;
    background-color: #b20000;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .1px;
    color: #fff;
   
}
.tbody {
   
    background-color: #b65151;
    color: #fff;
    text-align: center;
    overflow-y: scroll;
}

.tbody tr{
    height: 48px;
    cursor: pointer;
    
}
.tbody tr:hover{
    background-color: #7E0000;
    
}

.containerCards{
    display: flex;
    justify-content: flex-start;
   
    max-width: 80vw;

}

.containerCardsColuna{
    display: flex;
    flex-direction: column;
    
    width: 80%;
    
    
}
.containerCardsLinha{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.containerFilter{
    display: flex;
    flex-direction: column;
    

    gap: 10px;
   
}
.titleFilter{
    color: #b20000;
    font-size: 25px;
    
    padding: 10px;
}
.selectFilter{
    border: 1px solid #b20000;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #b20000;
}
.selectFilter:focus{
    outline: none;
}
.labelFilter{
    font-size: 15px;
    font-weight: bold;
    color: #b20000;
    margin-bottom: 5px;
}



.inputFilter{
    border: 1px solid #b20000;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #b20000;
    
}
.inputFilter:focus{
    outline: none;
}
.containerButtonsChamados{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
    
}

.buttonChamados {
    
    background-color: #B20000;
    min-width: 180px;
    max-width: 300px;
    height: 35px;
    font-size: 16px;
    
    text-align: center;
    color: #ffff;
    border-style: none;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    cursor: pointer;
  }
.buttonChamados:hover{
    background-color: #7E0000;
}

.spanLink{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    color: #B65151;
}

.spanLink:hover{
    text-decoration: underline;
}